@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Playwrite+HU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-claro: rgb(32, 63, 165);
    --grey: rgb(71, 71, 71);
}

a {
    color: beige;
    display: inline-block;
    margin: 18px;
    text-decoration: none;
    font-family: "Mozilla Headline", sans-serif;
    font-size: 13px;
    padding: 0.35px;
}

a:hover {
    opacity: 70%;
}

nav {
    background-color: rgb(32, 63, 165);
    position: fixed;
    width: max-content;
}

h1 {
    background-color: rgb(32, 63, 165);
    padding: 10px;
    padding-bottom: 20px;
    display: flexbox;
    text-align: center;
    color: beige;
    font-size: 40px;
    font-family: "Mozilla Headline", sans-serif;
    margin-top: 50px;
}

h1 span {
    opacity: 65%;
}

p a {
    color: var(--azul-claro);
    margin-inline: 5px;
    margin-block: 2px;
}

p {
    line-height: 25px;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 750px;
    margin: 75px;
    margin-block: 25px;
    text-align: justify;
    color: var(--grey);
}

h2 {
    margin-inline: 75px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-inline: 75px; 
    margin-top: 20px;
}

ol {
    margin-inline: 75px;
    margin-block: 25px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

li {
    margin: 25px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

img {
    width: 750px;
    border-radius: 25px;
    margin-top: 50px;
    box-shadow: 1px 1px 1rem rgb(0, 0, 0);
}

.listas img + li {
    margin-top: 20px;
    font-size: 18px;
}

.listas p {
    margin-inline: 0px;
}

body {
    background-color: beige;
}

h3 ~ a {
    color: var(--grey);
    margin-inline: 75px;
    margin-top: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-bottom: 100px;
}

#Nintendo {
    padding-right: 46px;
}

.ps1 {
    margin-right: 30px;
}

.xbox {
    margin-right: 30px;
}

.linksmais a {
    margin-block: 10px;
}

.Coming {
    
    color: var(--grey);
}

.soon a {
    color: var(--grey);
    text-align: center;
    margin: 75px;
}